.problems {
    padding: 7.5rem 2.5rem 0 2.5rem;

    &_content {
        display: flex;
        flex-direction: column;
        gap: 3.75rem;
        width: 100%;
        max-width: 85rem;
        padding: 5rem 3.75rem;

        &_card {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            &_header {
                display: flex;
                flex-direction: row;
                column-gap: 1.25rem;
                align-items: center;

                &_title {
                    font-size: var(--fs-32);
                    font-weight: 500;
                    line-height: 2.375rem;
                }

                &_emoji {
                    font-size: 3.75rem;
                    transform: rotate(11.29deg);
                }

                &_rotate {
                    font-size: 3.75rem;
                    transform: rotate(-12.46deg);
                }
            }

            &_main {
                display: flex;
                flex-direction: row;
                column-gap: 1.5rem;

                &_icon {
                    width: 7.5rem;
                    height: 7.5rem;
                }

                &_description {
                    width: 100%;
                    max-width: 45.8rem;
                    font-size: var(--fs-20);
                    font-weight: 400;
                    line-height: 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .problems {
        padding: 7.5rem 0 0 0;

        &_content {
            padding: 3.5rem 3.75rem;
            gap: 0;

            &_card {
                gap: 0.75rem;
                padding: 1.5rem 0;
                border-bottom: 1px rgba(0, 0, 0, 0.1) solid;

                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }

                &_header {
                    width: 100%;

                    &_title {
                        font-size: var(--fs-24);
                        line-height: 1.625rem;
                    }

                    &_emoji {
                        display: none;
                    }
                }

                &_main {
                    &_icon {
                        display: none;
                    }

                    &_description {
                        line-height: 1.375rem;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 550px) {

    .problems {
        padding: 3.3rem 0 0 0;

        &_content {
            padding: 3.3rem 1.23rem;

        }
    }
}