@mixin flexStyles($property) {
    display: flex;
    flex-direction: column;
    gap: $property;
}

@mixin baseStylesForText($fs, $fw, $lh) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

.container {
    @include flexStyles(2.5rem);
    width: 100%;
    max-width:  31.25rem;

    // Container Header
    &_header {
        @include flexStyles(1.5rem);

        &_title {
            @include baseStylesForText(var(--fs-40), 600, 3rem);
            text-align: center;
            color: #000;
        }

        &_description {
            @include baseStylesForText(var(--fs-20), 400, 1.5rem);
            width: 100%;
        }
    }
}

//Form
.form {
    @include flexStyles(1.5rem);
    width: 100%;
    min-width: 31.25rem;
    font-size: 16px;


    &_header {
        @include baseStylesForText(1.25em, 600, 1.5em);

        &_box {
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            width: 100%;
            height: 2.5rem;
        }
    }

    &_row {
        @include flexStyles(0.75em);

    }

    &_title {
        @include baseStylesForText(1em, 400, 1.25em);

        &_bold {
            font-weight: 600;
        }
    }

    &_select {
        display: flex;
        flex-shrink: 0; 
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0.5em;
    }

    &_button {
        margin-top: 1.25em;
    }
}


.error {
    @include baseStylesForText(1em, 400, 1.25em);
    color: red;
}

// Кастомное поле номера телефона
.phoneinput {
    &_container {
        align-self: flex-end !important;
        font-family: var(--ff-main) !important;

        width: 100% !important;
        height: 2.625em !important;
        align-self: stretch !important;
        padding: 0.625em 1em !important;
        background: #fff !important;
        border-radius: 0.5em !important;
        justify-content: flex-start !important;
    }

    &_input {
        width: 100% !important;
        height: 100% !important;
        border: none !important;

        font-family: var(--ff-main) !important;
        font-size: 1em !important;
        font-weight: 400 !important;
        line-height: 1.25em !important;


        &:focus {
            outline: none !important;
        }
    }

    &_country {
        display: none !important;
    }
}


@media screen and (max-width: 800px) {
    .container {
        max-width: 40rem;
    }

    .form{
        min-width: 40rem;
    }

}

@media screen and (max-width: 550px) {
    .container {
        max-width: 35rem;
    }

    .form{
        min-width: 35rem;
    }

}


@media screen and (max-width: 460px) {
    .container {
        max-width: 30rem;
    }

    .form{
        min-width: 30rem;
    }

}

@media screen and (max-width: 380px) {
    .container {
        max-width: 28rem;
    }

    .form{
        min-width: 28rem;
    }

}