.container {
    height: 1.875rem;
    min-width: 5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid #875dd0;
    text-align: center;
    color: #875dd0;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #875dd0;
        color: #fff;
    }

    &_selected {
        background-color: #875dd0;
        color: #fff;
    }
}
