.container {
    width: 2.5rem;
    height: 2.5rem;
    background: white;
    border-radius: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        svg {
            path {
                stroke: #8db952;
            }
        }
    }
}
