@import url("../fonts/drukwidecyr-bold.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --minWidth: 310px;
    --maxWidth: 1400px;
    --padding: 2.5rem;

    --ff-header: "DrukWideCyr-Bold", sans-serif;
    --ff-main: "Rubik", sans-serif;
    --ff-body: var(--ff-main);
    --ff-heading: var(--ff-main);

    /* font-size */
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-19: 1.1875rem;
    --fs-20: 1.25rem;
    --fs-22: 1.375rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-35: 2.1875rem;
    --fs-36: 2.25rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-50: 3.125rem;
    --fs-55: 3.4375rem;
    --fs-56: 3.5rem;
    --fs-58: 3.625rem;
    --fs-65: 4.0625rem;
    --fs-68: 4.25rem;
    --fs-72: 4.5rem;
    --fs-body: var(--fs-16);
    --fs-nav: var(--fs-20);

    /* color */
    --clr-primary: #875dd0;
    --clr-white: #fff;
    --clr-gray: #f8f8fa;
    --clr-black: #000;
    --clr-green: #a6d05d;
    --clr-green-hover: #8db952;
    --clr-danger: #ff4d4f;
}

body {
    background: var(--clr-white);
    font-family: "Rubik", sans-serif;
}

#root {
    margin: 0 auto;
}

.gray_background {
    background-color: var(--clr-gray);
    border-radius: 3rem;
    margin: 0 auto;
}

.container {
    padding: 7.5rem 2.5rem 2.5rem 2.5rem;
}

.header {
    color:var(--clr-black);
    font-size: var(--fs-40);
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 2.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
