@import url("../fonts/drukwidecyr-bold.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --minWidth: 310px;
    --maxWidth: 1400px;
    --padding: 2.5rem;

    --ff-header: "DrukWideCyr-Bold", sans-serif;
    --ff-main: "Rubik", sans-serif;
    --ff-body: var(--ff-main);
    --ff-heading: var(--ff-main);

    /* font-weight */
    --fw-thin: 100;
    --fw-ultra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-extra-bold: 800;
    --fw-heavy: 900;

    /* font-size */
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-19: 1.1875rem;
    --fs-20: 1.25rem;
    --fs-22: 1.375rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-35: 2.1875rem;
    --fs-36: 2.25rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-50: 3.125rem;
    --fs-55: 3.4375rem;
    --fs-56: 3.5rem;
    --fs-58: 3.625rem;
    --fs-65: 4.0625rem;
    --fs-68: 4.25rem;
    --fs-72: 4.5rem;
    --fs-body: var(--fs-16);
    --fs-nav: var(--fs-20);

    /* color */
    --clr-primary: #5243c2;
    --clr-danger: #ff4d4f;
    --clr-black: #1f2939;
    --clr-muted: #949ba6;
    --clr-blue-chalk: #ebe6ff;
    --clr-heliotrope: #b956f5;
    --clr-tan-hide: #f58f56;
    --clr-titan-white: #f5f5ff;
    --clr-black-squeeze: #f0f7fa;
    --clr-white: #fff;
    --clr-red-500: #ff4d4f;
    --clr-red-400: #ff9293;
    --clr-red-300: #ffc8c8;
    --clr-red-200: #ffeded;
    --clr-indigo-600: #473aa6;
    --clr-indigo-500: #5243c2;
    --clr-gray-200: #d5d5d5;
    --clr-gray-100: #f4f4f4;

    --z-index-placeholdar-question-befor: 100;
    --z-index-placeholdar-question: 150;
    --z-index-tomato-ketchup: 200;
    --z-index-mobile-menu: 300;
    --z-index-modal-checkout: 10000;
}

body {
    background: #fff;
    font-family: "Rubik", sans-serif;
}

#root {
    margin: 0 auto;
}

.gray_background {
    background-color: #f8f8fa;
    border-radius: 3rem;
    margin: 0 auto;
}

.container {
    padding: 7.5rem 2.5rem 2.5rem 2.5rem;
}

.header {
    color: #000;
    font-size: var(--fs-40);
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 2.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
