@media screen and (max-width: 1440px) {
    :root {
        --maxWidth: 1400px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1180px) {
    :root {
        --maxWidth: 1180px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {
    :root {
        --maxWidth: 1000px;
        font-size: 13px;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --maxWidth: 900px;
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --maxWidth: 800px;
        font-size: 11px;
    }
}

@media screen and (max-width: 650px) {
    :root {
        --maxWidth: 650px;
    }

    .header {
        text-align: center;
        margin-right: 3.75rem;
        margin-left: 3.75rem;
    }

    .gray_background {
        background-color: #f8f8fa;
        border-radius: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 550px) {
    :root {
        --maxWidth: 550px;
        font-size: 12px;
    }

    .header {
        margin-right: 1.23rem;
        margin-left: 1.23rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 460px) {
    :root {
        --maxWidth: 460px;
    }
}

@media screen and (max-width: 425px) {
    :root {
        --maxWidth: 425px;
    }
}

@media screen and (max-width: 380px) {
    :root {
        --maxWidth: 380px;
    }
}
