@mixin baseStyleForText($fz, $fw, $lh) {
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
}

.container {
    padding: 9rem 2.5rem 0rem 2.5rem;

    &_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;
        padding: 3.75rem 3.75rem 5rem 3.75rem;
        margin: 0 auto;

        &_description {
            width: 100%;
            max-width: 64.375rem;
            text-align: center;
            @include baseStyleForText(var(--fs-24), 400, 2rem);
        }

        &_cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
        }

        &_card {
            width: 100%;
            max-width: 37.6875rem;
            min-height: 14.25rem;
            background-color: var(--clr-primary);
            color: var(--clr-white);
            padding: 2.5rem;
            box-shadow: 0px 4px 18px rgba(254.56, 254.56, 254.56, 0.24);
            border-radius: 1.5rem;

            display: grid;
            grid-template-columns: 2.5rem 1fr;
            column-gap: 1rem;
            row-gap: 0.5rem;
            align-items: start;

            &_title {
                @include baseStyleForText(var(--fs-24), 600, 2rem);
            }

            &_description {
                grid-column: 2;

                @include baseStyleForText(var(--fs-20), 400, 1.625rem);
            }
        }
    }

    &_circle {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 2.5rem;
        height: 2.5rem;
        padding: 1rem;
        background-color: var(--clr-white);
        border-radius: 100%;
        color: var(--clr-primary);

        &_number {
            @include baseStyleForText(var(--fs-20), 400, 1.625rem);
        }
    }
}

@media screen and (max-width: 900px) {
    .container {
        &_content {
            &_cards {
                grid-template-columns: repeat(1, 1fr);
            }

            &_card {
                max-width: 56rem;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .container {
        padding: 7.5rem 0 0 0;

        &_content {
            &_description {
                text-align: start;
            }

            &_cards {
                gap: 1rem;
            }

            &_card {
                &_description {
                    grid-column: span 2;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .container {
        &_content {
            padding: 2rem 1.3rem 3.3rem 1.3rem;
            gap: 2rem;

            &_cards {
                gap: 1.3rem;
            }

            &_card {
                padding: 1.3rem;
                row-gap: 1rem;
                min-height: max-content;
            }
        }
    }
}
