@mixin baseStylesForText($fs, $fw, $ln) {
    font-size: var($fs);
    font-weight: $fw;
    line-height: $ln;
}

.container {
    width: 31.25rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center;

    &_title {
        @include baseStylesForText(--fs-40, 600, 3rem);
        color: #000;
    }

    &_description {
        width: 31.25rem;
        @include baseStylesForText(--fs-20, 400, 1.5rem);
    }

    &_emoji {
        width: 6.1rem;
        height: 6.1rem;
        font-size: 6rem;
        margin-top: 1rem;
    }
}